@{
    ViewBag.Title = "Phạm Công Hiếu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Thực Hành Lesson09 - Cam Kết Không Coppi </h3>

    <address>
        K22CNT3 - MÔN LẬP TRÌNH WEB VỚI CÔNG NGHỆ 
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:phamconghieu13062001@gmail.com">phamconghieu13062001@gmail.com</a>
    </address>
</main>